NGINX_OUT_PORT=8080


DATABASE_URL=postgresql://postgres:postgres@postgres:5432/dev_db


# Postgres docker
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dev_db

# PgAdmin
PGADMIN_EMAIL=admin@local.org
PGADMIN_PASSWORD=rootroot
PGADMIN_PORT=8095